:root {
    line-height: 1.5;
    font-size: 16px;
    font-weight: 400;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

    /*font-synthesis: none;*/
    /*text-rendering: optimizeLegibility;*/
    /*-webkit-font-smoothing: antialiased;*/
    /*-moz-osx-font-smoothing: grayscale;*/
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    font-weight: 500;
    text-decoration: none;
}


body {
    margin: 0;
    width: 100%;
    min-width: 320px;
    min-height: 100vh;
}

button {
    border: 1px solid transparent;
    font-family: inherit;
    cursor: pointer;
    background-color: transparent;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}